<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block nav-log-in %}{% endblock %}

{% block content %}

{% if validlink %}

<div class="d-flex justify-content-center">
  <h2>Set a new password!</h2>
</div>
<div class="d-flex justify-content-center">
  <div class="row">
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Change my password">
    </form>
  </div>
</div>

{% else %}

<div class="d-flex justify-content-center">
  <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
</div>

{% endif %}
{% endblock %}